@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Shizuru&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url("./snow.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center, center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    position: relative;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.parent-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.span-el{
    text-align: center;
}

.span-el span{
    font-size: 1.5rem;
}

#countdown-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form input {
    height: 31px;
    width: 350px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 0.4px solid black;
    box-shadow: 0.4rem 0 1rem 0 rgb(208 241 240 / 90%);
    margin: 0.5rem 0rem;
    font-size: larger;
}

#form button {
    cursor: pointer;
    height: 31px;
    width: 250px;
    background-color: transparent;
    border: none;
    margin: 0.5rem 0rem;
    font-size: larger;
}